.index-page {
    /* The image used */

    background-image: url('/Photo/Lokal.png');
    /* Full height */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
html, body {
    height: 100%;
    margin: 0;
}
.table-opacity {
    background-color: #ffffff;
    opacity: 0.9;
}


html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    width: 100%;
}


.btn-Actions {
    width: 35px;
    height: 35px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}



